body{
    background-color:rgb(34, 40, 49);
    font-family:'Courier New', Courier, monospace;
    margin-left: 200px;
    margin-right: 200px;
    padding: 30px;
}
.navegacao{
    overflow:hidden; /*ajusta o texto no box e esconde as barras de rolagem*/
}
.navegacao a{
    float:right;
    display: block;
    color: rgb(238, 238, 238)    ;
    text-decoration: none;
    text-align:right;
    padding:10px 10px;
}
.navegacao a:hover{
    color:rgb(0, 173, 181);
    background-color: black;
}
a{
    text-decoration:none;
    color: rgb(238, 238, 238);
}
h1{
    background-color: rgb(0, 173, 181);
    color:rgb(238, 238, 238);
    text-decoration:dashed;
    text-align: center;
    font-size: 50px;
    border: 2px solid black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 2px;
}
h2{
    position:relative;
    border: 2px solid black;
    display: block;
    float: right;
    float: left;
    height: 50px;
    width: 28%;
    text-align: center;
    background-color:rgb(0, 173, 181)    ;
    padding: 30px 15px 20px;
    box-shadow:4px 4px 4px black;
    margin: 20px;

}
h2.html{
    border: 2px solid black;
    float: right;
    height: 30px;
    width: 70px;
    text-align: center;
    background-color:rgb(0, 173, 181)    ;
    padding: 10px;
    box-shadow:4px 4px 4px black;
    margin: 20px;
}
h2 :hover{
    color:rgb(0, 173, 181);
    background-color: black;

}
